<h1>Student Form</h1>

<%= form_for(@student) do |f| %>
  <p>
    <%= f.label "First name:", for: "student_first_name" %>
    <br>
    <%= f.text_field :first_name, autofocus: true %>
  </p>
  <p>
    <%= f.label "Last name:", for: "student_last_name" %>
    <br>
    <%= f.text_field :last_name %>
  </p>
  
  <%= f.submit "Create Student" %>
<% end %>

<%= link_to "Back to List", students_path %>
  