<h1>Edit Class</h1>

<%= form_for(@school_class) do |f| %>
  <p>
    <%= f.label "Class title:", for: "school_class_title" %>
    <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Room number:", for: "school_class_room_number" %>
    <br>
    <%= f.text_field :room_number %>
  </p>
  <%= f.submit "Update School class" %>
<% end %>

<%= link_to "Back to Class", school_class_path(@school_class) %>